@model EduMark.Models.User
@{
    ViewData["Title"] = "Register Successfully.";
}

    <div class="container" style="margin-top:100px;">
        <h1>Hi @Model.FullName</h1>
        <h2>Registration Successful.</h2>
        <h3><a href="/login">Login</a> or <a href="/">Home</a></h3>
</div>